<launch>
    <node pkg="jackal_pkg"
          type="jackal_circle_server.py"
          name="jackal_circle_server"
          output="screen"/>

    <node pkg="jackal_pkg"
          type="jackal_circle_client.py"
          name="jackal_circle_client"
          output="screen"
          launch-prefix="bash -c 'sleep 2; $0 $@'"/>
</launch>
